<div class="container rounded shadow bg-white mt-3 p-5">
  <div class="row">
    <div class="col-12 h3 text-center">
      Chat-Rooms
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3 mb-3">
      <label for="name">Name:</label>
      <input [(ngModel)]="name" name="name" class="ms-3">
      <button class="btn btn-primary ms-3" (click)="createRoom()" [disabled]="!name">Create Room</button>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mt-3 mb-3">
      <label for="name">Search:</label>
      <input [(ngModel)]="searchRoom" name="name" class="ms-3"
        (change)="selectedRoom = searchRoom === '' ? null: selectedRoom">
      <button class="btn btn-success ms-3" (click)="search()" [disabled]="!searchRoom">Search Room</button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" *ngFor="let room of rooms">
      <app-room-card [item]="room" [selected]="selectedRoom===room"></app-room-card>
    </div>
  </div>
</div>