<!-- not-found.component.html -->

<div class="container mt-5">
    <div class="row ">
      <div class="col-md-6 offset-md-3 text-center bg-white rounded shadow">
        <h1 class="display-4">404 - Not Found</h1>
        <p class="lead">The page you are looking for might be in another galaxy.</p>
        <img src="https://d1a6zytsvzb7ig.cloudfront.net/newpanel/images/robot.sleeping.svg" alt="Lost Kitten" class="img-fluid rounded">
        <p class="mt-4">Return <a routerLink="/home">home</a>.</p>
      </div>
    </div>
  </div>
  
